<nav>
  <div class="title">
    <img src="../../../../assets/logo.PNG" width="120" height="105" alt="desenho de artigos de costura" >
    <h2>Costura Conecta</h2>
  </div>
<ul class="menu">
  <li class="link"[routerLink]="['']">Home</li>
  <li class="link"[routerLink]="['/search']">Encontrar Profissional</li>
  <li class="link"[routerLink]="['/works']">Como funciona</li>
  <li class="link"[routerLink]="['/register']">Quero me cadastrar</li>
</ul>



</nav>

<img src="../../../../assets/principal.png" width="100%" class="principal-img" alt="foto de ornamentos de costura">

