

.title2 {
  font-size: 1.2rem;
  color:  rgb(98, 97, 94);
  margin-top: 25px;
  margin-top: 40px;
  text-align: center;
}

.title3 {
  font-size: 1.2rem;
  color:  rgb(246, 185, 55);
  margin-top: 25px;
  padding: 10px;
  margin-bottom: 60px;
  text-align: center;
}



.card-col {
  align-items: center;
}

.card-works {
  display: inline;
  margin-top: 80px;
  margin-bottom: 80px;
}

.botao-works {
  background-color: rgb(246, 185, 55);

}

.card-img-works {
  margin-left: 88%;
  margin-top: 10px;
}

