<app-header></app-header>
<div class="all-home">
  <div class="container">
    <div class="home-principal">
      <h3 class="fw-medium title2" >O Costura Conecta ajuda você a se conectar com os melhores profissionais de costura</h3>
      <h4 class="fw-medium title3" >Veja aqui alguns dos serviços oferecidos por nossos profissionais e a média de preço:</h4>
      <app-card-search></app-card-search>
      <div>
        <img class="rounded float-start img-costura mb-5" src="../../../../assets/costura1.jpg">
        <div>
          <h2 class="fw-medium" >Encontre o que você precisa</h2>
        </div>

      </div>
      <app-card-works></app-card-works>


    </div>
</div>





<app-footer></app-footer>

