<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; Costura Conecta</p>
      </div>
      <div class="col-md-6">
        <ul class="social-icons">
          <li><a href="#"><img src="../../../../../assets/instagram.png" class="img"></a></li>
          <li><a href="#"><img src="../../../../../assets/twitter.png" class="img"></a></li>
          <li><a href="#"><img src="../../../../../assets/linkedin.png" class="img"></a></li>
          <li><a href="#"><img src="../../../../../assets/facebook.png" class="img"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
